/* Imports */
@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;700&display=swap');

body {
  margin: 0;
  font-family: 'Cabin', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#compteur {
  visibility: hidden;
  height: 0px;
}

#gains {
  visibility: hidden;
  height: 0px;
}

h1.game-over {
  font-size: 7em;
  color: white;
  text-align: center;
  margin-bottom: 0em;
  margin-top: 0em;
}

.ratio {
  margin-top: 0.3em;
  margin-bottom: 0.3em;
}

#c {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -300;
    /*box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 20px solid white;*/
}

.page-title {
  font-family: 'Cabin', sans-serif;
  font-size: 10em;
  text-align: left;
  position: relative;
  left: -7px;
  margin-bottom: 0px;
}

.home-title {
  font-family: 'Cabin', sans-serif;
  font-size: 4em;
  letter-spacing: 0em;
  text-transform: uppercase;
  text-align: left;
  color: white;
  padding-left: 5%;
  line-height: 0.8em;
}

.home-sub-sub {
  font-family: 'Cabin', sans-serif;
  font-size: 2em;
  letter-spacing: 0em;
  text-transform: uppercase;
  text-align: left;
  color: white;
  padding-left: 5%;
  line-height: 0.8em;
}

.home-text {
  font-family: 'Cabin', sans-serif;
  text-align: left;
  padding-left: 5%;
  color: white;
}

.score-container {
  font-family: 'Cabin', sans-serif;
  text-align: left;
  padding-left: 5%;
  color: white;
}

.score-text{
  font-size: 25px;
}

/*Navigation*/


.home-menu {
  position: fixed;
  right: 20px;
  bottom: 20px;
  list-style-type: none;
  display: block;
  float: left;
  padding-left: 5%;
  height: 30px;
}

.home-menu li {
  display: inline-block;
}

.sound-home-site{
  width: 50px;
}

.home-menu li a {
  text-decoration: none;
  color: white;
  font-size: 1em;
  margin-right: 4em;
}

.home-menu li a:hover {
  text-decoration: none;
  margin-right: 4em;
  text-decoration: underline;
}

.projets-container {
  width: 100%;
  height: 100vh;
  color: white;
  position: fixed;
  top: 0;
  overflow: scroll;
}

.project-featured-media {
  width: 100%;
}

.container{
  width: 90%;
  margin-left: 5%;
}

.soundPlayer {
  background-color: transparent;
  border: none;
  position: fixed;
  top: 30px;
  right: 30px;
  z-index: 2;
}

.soundPlayer:hover{
  opacity: 0.5;
  transition-duration: 1s;
}


.gamecontrols{
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
}

.game-control-container {
  width: 100%;
  margin-top: 2em;
  text-align: center;
}

.level-link {
  background-color: transparent;
  padding: 1em 2em 1em 2em;
  color: white;
  border: 1px solid white;
  font-size: 20px;
  width: 200px;
  font-weight: 900;
  cursor: pointer;
}

.level-link:hover {
  background-color: transparent;
  color: white;
  border: 1px solid transparent;
}

h2.game-control-title {
  text-align: center;
  color: white;
  font-size: 100px;
  margin-bottom: 0px;
}

.rsc-container {
  width: 100%!important;
}
/*
.rsc {
  height: 100vh!important;
}

.rsc-content {
  height: 80%!important;
}*/

.preloader{
  background-color: black;
  position: fixed;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 3;
  padding-top: 13em;
}

.enterapp{
  background-color: black;
  position: fixed;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 5;
  padding-top: 13em;
  text-align: center;
}

.loading-text{
  font-family: 'Cabin', sans-serif;
  font-size: 2em;
  color: white;
  text-align: center;
}

.loading-subtext{
  font-family: 'Cabin', sans-serif;
  font-size: 1em;
  color: white;
  text-align: center;
  width: 90%;
  margin-left: 5%;
}

.enter-button{
  background-color: transparent;
  color: white;
  border: 1px solid white;
  width: 20%;
  margin-left: 40%;
  text-align: center;
  font-size: 1.5em;
  font-weight: 700;
  margin-top: 2em;
  margin-right: 4px;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.sound-button{
  background-color: transparent;
  border: none;
  font-size: 1.5em;
  font-weight: 700;
  margin-top: 1em;
  margin-right: 4px;
  padding-right: 1em;
  padding-left: 1em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.sound-button:hover{
  opacity: 0.5;
  transition-duration: 1s;
}

.sound-loader{
  width: 80px;
}

.play-button{
  background-color: transparent;
  color: white;
  border: 2px solid white;
  font-size: 1.5em;
  font-weight: 700;
  margin-top: 0.5em;
  margin-right: 4px;
  padding-right: 1em;
  padding-left: 1em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.play-button:hover{
  transition-duration: 0.5s;
  border: 2px solid transparent;
}

.sound-button:hover{
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  cursor: pointer;
  transition-duration: 0.5s;
}


.enter-button:hover{
  opacity: 0.5;
  cursor: pointer;
  transition-duration: 0.5s;
}

.enter-sound{
  padding-top: 2px;
}

.portfolio-container{
  width: 100%;
  float: left;
}

.story-container{
  width: 100%;
  float: left;
}

.rh-barnes-home{
  width: 60%;
  margin-right: 5%;
  margin-left: 20%;
}

.visual-container {
  width: 30%;
  float: left;
}

.home-story {
  margin-top: 4.5em;
  font-size: 20px;
  font-family: 'Cabin', sans-serif;
  text-align: left;
  width: 70%;
  float: left;
  color: white;
}

.project-link{
  text-decoration: none;
}

.game-control-description {
  text-align: center;
  color: white;
}

/*Bot*/
/*
.bhdplU {
  height: 100px;
}

.jWXCDs {
  border-radius: 0px 18px 18px 18px;
}

.jgaQwj{
  height: 100px;
}

.dlVROl{
  border-radius: 18px 0px 18px 18px;
}*/

.rsc-ts-image {
  width: 150px;
  height: 150px !important;;
}

.rsc-input {
  position: fixed;
  bottom: 0px;
  border-radius: 0px;
}

.rsc-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.rsc-os-option-element {
  background-color: black;
  color: white;
  border: 1px solid white;
}

.rsc-ts-user .rsc-ts-bubble {
  background-color: black;
  border: 1px solid white;
}

.rsc-content::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.rsc-content {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}


.projets-container::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.projets-container {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  z-index: 10;
}

.illuvincent {
  width: 40%;
  float: left;
}

.textvincent {
  width: 50%;
  margin-left: 10%;
  float: left;
}

.language-controls {
  position: fixed;
  top: 40px;
  left: 30px;
  z-index: 40000;
  z-index: 6;
}

.language-button {
  background-color: transparent;
  padding-left: 0.5em 1em;
  margin-left: 10px;
}

.closing-cross {
  text-decoration: none;
  position: fixed;
  right: 30px;
  top: 30px;
  font-size: 40px;
  transform: scale(1, 0.8);
  font-weight: 900;
}

.closing-cross:hover {
  opacity: 0.5;
  transition-duration: 1s;
}

.closingcross-svg{
  width: 30px;
  height: 30px;
  position: fixed;
  right: 30px;
  top: 30px;
}

.closingcross-svg:hover{
  opacity: 0.5;
  transition-duration: 1s;
}

.language-button:hover {
  border: none;
}

.arrowbutton{
  background-color: transparent;
  border: none;
}

.arrowsvg{
  width: 20px;
}

.arrowtable{
  display: none;
}

.linkedin-welcome {
  background-color: transparent;
  border: none;
  position: fixed;
  left: 34px;
  bottom: 20px;
}

.linkedin-welcome:hover {
  opacity: 0.5;
  transition-duration: 1s;
  cursor: pointer;
}

.linkedinSvg {
  width: 40px;
}

@media screen and (max-width: 900px) {
  .page-title {
    font-family: "Cabin",sans-serif;
    font-size: 8em;
  }

  .enter-button{
    width: 40%;
    margin-left: 30%;
  }

  .arrowtable{
    position: fixed;
    display: block;
    bottom: 20px;
    right: 20px;
  }

  .illuvincent {
    width: 100%;
    float: left;
  }
  
  .textvincent {
    width: 100%;
    margin: 0px;
    float: left;
    padding-right: 10%;
  }
}

/*media queries*/
@media screen and (max-width: 640px) {
  .page-title {
    font-family: "Cabin",sans-serif;
    font-size: 5em;
  }

  .enter-button{
    width: 40%;
    margin-left: 30%;
  }

  .game-control-description {
    text-align: center;
    color: white;
    width: 60%;
    margin-left: 20%;
  }

  .home-menu li a {
    margin-right: 2.3em;
    font-size: 12px;
  }

  .home-menu li a:hover {
    margin-right: 2.3em;
  }

  .home-title {
    font-size: 4em;
    text-align: center;
    padding-left: 0%;
  }
  .rh-barnes-home {
    width: 30%;
    margin-right: 35%;
    margin-left: 35%;
  }
  .visual-container {
    width: 100%;
    float: left;
  }
  .home-story {
    margin-top: 0.3em;
    font-size: 20px;
    text-align: center;
    width: 100%;
  }
  .home-menu {
    position: fixed;
    top: 20px;
    left: 6%;
    display: block;
    text-align: center;
  }
  .play-button {
    background-color: transparent;
    color: white;
    border: 2px solid white;
    font-size: 1.5em;
    font-weight: 700;
    /* margin-top: 30%; */
    margin-left: 30%;
    width: 40%;
    /* text-align: center; */
    padding-right: 1em;
    padding-left: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
  }

  .arrowtable{
    display: block;
  }
}